html {
    height: 100%;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, yellow, red);
    text-align: center;
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 8px;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 8px;
}

ul {
    margin: auto;
}